html {
  font-size: 13px; /*the base font size is now 13 pixels high */
  font-family: 'arial', sans-serif;
  background-color:white;
}

a {
  color: inherit;
  text-decoration:none;
}

a:hover, a:active {
  text-decoration: underline !important;
}

p {
  display: block;  
  margin-top: 15px;  
} 

input[type=text] {
  background-color: white;
  background-image: url("https://img.icons8.com/ios/24/000000/search--v1.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 17px;
  outline: none;
}

header { 
   height: 50px;
   line-height: 50px;
}

footer {
   position:absolute;
   bottom:0;   			/*mettre au bas completement*/
   width:100%;			/*Toute la largeur du browser*/
   height:100px;
   background:#F0F0F0;   /*couleur grise qui remplie*/
   font-size: 10pt;
   height: 25px;
   padding-top: 15px;
   color: #888888;
   border-top: 1px solid #ddd;
}

#OverFooter {
   position:absolute;
   width:100%;
   height:100px;
   background:#F0F0F0;   
   font-size: 10pt;
   height: 25px;
   color: #888888;
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   padding-top: 15px;
   padding-bottom: 5px;
   bottom:40px;
}

#LogoGoogle{
   display: block;  
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   width: 300px; /* width:300px; ou  width:25%; pour resizing*/*/
}

button {
   color: #444;
   height: 36px;
   line-height: 27px;
   min-width: 54px;
   text-align: center;
   padding: 0 16px 0 16px;
   border: 1px solid #f0f0f0;
   border-radius:5px;
}
button:hover {	
   border: 1px solid #bbb;
}

#bouttonsUnderSearch {    
   margin-top: 20px;
}

#SignIn {
   background-color: rgb(66, 133, 244);
   color: white;  
   padding: 0 12px 0 12px;
   margin-right: 0px; 
   border-radius: 10%;
}

#SignIn:hover {
   border: 1px solid #fff;	
}

.SearchBar {
   display: block;
   border-radius: 30px;
   border: 1px solid #ccc;
   width: 400px; /*width: 400px; ou  width:38%; pour resizing*/
   height: 40px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
}

.UpperLinks  {
   display: inline;
   text-decoration: none;
   padding-top: 100px;
}

.BottomLinks  {
   display: inline;
   text-decoration: none;
   padding-bottom: 10px;
}

#lefties {
   float: left;
   display: inline-block;
}

#righties {
   float: right;
   display: inline-block;
}
